AZURE_API_KEY=""
ANTHROPIC_API_KEY=""
OPENAI_API_KEY=""
GEMINI_API_KEY=""
KIMI_API_KEY=""
DOCKERHUB_TOKEN=""
DOCKERHUB_USERNAME=""
PRIMERL_KEY="pit_3321736a57c8dda35af6e148d7d98d48e45f8b4c5f857afae394a2c2ad37f76a"